[submodule "components/lib/bingus-lib"]
	path = components/lib/bingus-lib
	url = git@github.com:Stockholm-3/bingus-lib.git
[submodule "bingus-lib"]
	path = bingus-lib
	url = https://github.com/Stockholm-3/bingus-lib.git
